@media (min-width: 900px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
}



@media (max-width: 900px) {
    .background {
        background-image: url(/public/images/rainbow.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1000;
        width: 100%;
        height: 100vh;
    }

    .info .detalhes {
        display: grid;
        grid-template-columns: 1fr;
    }
    .photo img {
        width: 100%;
        border-radius: 0px;
    }
    .container,
    .content {
        padding: 0 20px;
    }.destaque .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;        
    } .destaque .container h1 {
        text-align: right;
        padding-right: 15px;
        font-size: 32px;
    }

    .categorias .container .flex button {
        display: none;
    } .categorias .container .flex {
        padding-right: 28px;
    } .categorias .container .flex h1 {
        padding-bottom: 20px;
        font-size: 36px;
    } footer .container .logo {
        display: none;
        width: 10px;
    } footer .container {
        justify-content: space-evenly;
    } .categorias .container .flex {
    flex-direction: column!important;
    align-items: flex-start;
    } .categorias .container .tag {
        flex-direction: column;
    position: relative;
    left: 0;
    margin-top: -40px;
    margin-bottom: -20px;
    }

    .categorias .container .tag p {
        margin-left: 10px;
        position: relative;
        top: 0;
        left: -7px;
        margin-top: -40px;
        margin-bottom: 50px;
    }
}

@media (max-width: 580px) {
    .content .main ul li {
        display: inline-block;
        padding: 4px;
    }
    header .hello h1 {
        font-size: 44px;
    }
    .destaque .cards {
        display: grid;
        grid-template-columns: 1fr;        
    } .destaque .container .flex {
        flex-direction: column;
        text-align: center;
        align-items: center;
    } .destaque .container h1 {
        text-align: center;
        padding-right: 0px;
        margin-left: 0;
    } .destaque .container .flex button {
        display: none;
    } .orcamento .container .grid {
        grid-template-columns: 1fr;
    } .orcamento .contatos {
        border-left: 4px solid white;
        margin-left: 0px;
        padding-left: 40px;
        margin: 30px 0;
    } footer .container .logo {
        display: none;
        width: 10px;
    } footer .container .enderecos {
        display: none;
    } footer .container {
        justify-content: space-evenly;
    } footer .container .whodid i {
        font-size: 30px;
        padding: 10px;
    } footer .container .whodid {
        font-size: 18px;
    } .social {
        display: none;
    }
    nav .content .main {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}   



