@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d6d6d6;  
    padding: 0;
    margin: 0;
} 

* {
    outline: none;
}

a {
    text-decoration: none;
    color: default;
}

.scroll2 a {
    color: black;
}

.scroll2 {
    color: black;
    position: fixed;
    width: 100%;
    font-weight: 600;
    z-index: 1000;  
    height: 120px;
    background: transparent;
    transition: 150ms;
}

.scroll {
    position: fixed;
    width: 100%;
    color: white;
    font-weight: 600;
    z-index: 1000;  
    height: 120px;
    background: transparent;
    transition: 150ms;
}   

nav .content { 
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
} nav .content .logo i {
font-size: 50px;
} .scroll a {
    color: white;
}

main {
    position: absolute;
    top: 0;
    width: 100%;
} nav .content .main ul li {
    margin-top: 2px;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: 150ms;
} nav .content .main ul li:hover {
    margin-top: 2px;
    border-bottom: 2px solid white;
} .scroll2 .content .main ul li:hover {
    border-bottom: 2px solid black;
}

.background {
    background-image: url(/public/images/rainbow.jpg);
    background-position: center;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    z-index: -1000;
    width: 100%;
    height: 100vh;
}

footer .container .whodid i {
    padding: 0 5px;
}

header {
    max-width: 900px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;         
    color: rgba(0,0,0,0);
    
} header .hello {
    padding: 60px;
    text-align: right;      
    
} header .hello button {
    padding: 10px 20px;
    text-transform: uppercase;  
    font-weight: 900;
    border: 2px solid white;
    background-color: rgba(0,0,0,0);
    color: white;
    transition: ease-out 300ms;
} header .hello button:hover {
    
    border: 2px solid white;
    background-color: white;
    color: black; 
} header .hello h2 {
    padding: 0;
    margin-top: -15px;
    color: white;
    margin-bottom: 40px;
    font-weight: 400;
} header .hello h1 {
    position: relative;
    right: -5px;
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-weight: 800;
}
.content .main {
    display: flex;
    align-items: center;
}

.top {
    position: relative;
    top: 100px;
}

.content .main ul li {
    display: inline-block;
    padding: 10px;
}

.social ul li {
    display: inline-block;
    padding: 10px;
    font-size: 22px;
} 

.nav-colored {
    background-color: #2c3e50;
} .nav-colored a {
    color: white!important;
} .nav-colored i {
    color: white;
} .nav-colored .content .main ul li:hover {
    border-bottom: 2px solid white;
}

.destaque .container {
    padding-top: 15px;
    padding-bottom: 30px;
} .destaque .container h1 {
    font-size: 42px;
    margin-left: 20px;
    border-bottom: 4px solid black;
}

.destaque .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
} .destaque .card {
    background-color: white;
    /* border-radius: 30px 30px 20px 20px; */
    width: 100%;
    margin-bottom: 20px;
    transition: ease-out 200ms;
    border: 4px solid white;
} .destaque .card:hover {
    box-shadow: 0px 2px 8px -2px #555555;
}.destaque .card img {
    width: 100%;
    /* border-radius: 30px 30px 0 0; */
    height: 180px;
    object-fit: cover;
} .destaque .card .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    padding: 8px 10px;
    font-weight: 700;
} .categorias .cards a {
    color: black;
}  #off {
    font-size: 14px;
    background-color: orangered;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
} .destaque .card .title p {
    margin: 0;
    padding: 0;
}.destaque .card .price {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    
} .destaque .card .price .value {
    color: orangered;
    font-size: 26px;
    font-weight: bolder;
} .destaque .cards .price .times {
    font-size: 12px;
    margin-left: 10px;
} .destaque .cards .price .times .bigger {
    font-weight: bolder;
    color: #059074;
}.destaque .cards .tags {
    text-align: right;
}.destaque .cards .tags ul li {
    display: inline-block;
    border-radius: 6px;
    list-style: none;
    border: 1px solid #222;
    padding: 5px 6px;
    margin: 2px;
    font-size: 12px;
    color: #222;
} .destaque .cards .tags ul {
    padding: 0 10px;
} .destaque .container .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .destaque .container .flex button {
    padding: 10px 20px;
    margin-right: 20px;
    text-transform: uppercase;  
    font-weight: 900;
    border: 2px solid black;
    background-color: rgba(0,0,0,0);
    transition: 300ms;
    color: black;
} .destaque .container .flex button:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 8px grey;
}

.orcamento .container h1 {
    font-size: 48px;
    margin: 0;
    line-height: 56px;
} .orcamento .container h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
} .orcamento .container .grid {
    display: grid;
    grid-template-columns: 5fr 4fr;
} .orcamento .container {
    padding-top: 30px;
    display: flex;
    align-items: center;
    min-height: 400px;
} .orcamento {
    background-color: #059074;
    color: white;
} .orcamento .contatos {
    border-left: 2px solid white;
    margin-left: 40px;
    padding-left: 40px;
    font-size: 20px;
    margin-top: 13px;
} .orcamento .contatos ul li {
    display: inline-block;
    list-style: none;
    font-size: 30px;
    margin-right: 10px;
} .orcamento .contatos ul {
    padding: 0;
    margin: 0;
} .orcamento .contatos i {
    margin-right: 5px;
} footer {
    background-color: #2c3e50;
    
    width: 100%;
}   

.categorias .container .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .categorias .container .flex button {
    padding: 10px 20px;
    margin-right: 20px;
    text-transform: uppercase;  
    font-weight: 900;
    border: 2px solid black;
    background-color: rgba(0,0,0,0);
    transition: 300ms;
    color: black;
} .categorias .container .flex button:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 8px grey;
} .categorias .container {
    padding-top: 15px;
    padding-bottom: 50px;
} .categorias .container h1 {
    font-size: 42px;
    margin-left: 20px;
    border-bottom: 4px solid black;
} .categorias .cards {
    margin: 0 auto;
}.categorias .cards .card {
    padding: 10px 19px;
    border: 2px solid rgba(0,0,0,0);
    background-color: white;
    font-size: 18px;
    margin: 5px;
    transition: 200ms;
    font-weight: 600;
    align-items: center;
    border-radius: 20px;   
    display: inline-block; 
} .categorias .cards .card:hover {
    border: 2px solid white;
    background-color: white;
    box-shadow: 0 0 8px grey;
} footer .container {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    height: 200px;
} footer .container .logo i {
    font-size: 50px;
} footer .container .enderecos {
    margin-right: 20px;
}footer .container .enderecos i {
    margin-right: 10px;
} footer .container .whodid {
    text-align: center;
    margin: 0 0 0 20px; 
} footer .container .logo {
    text-align: center;
    padding-top: 20px;
} footer .container .whodid i {
    font-size: 20px;
    
    
}